
.fa-paperclip{
    margin-left: 1%;
}

.div_cont_previews{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.div_cont_title_adjuntos_btn_downloadAll{
    display: flex;
    text-transform: uppercase;
    align-items: center;
}

.div_cont_title_adjuntos_btn_downloadAll>i{
    margin-right: 2%;
}

.btn_downloadAll, .btn_download{
    background-color: #BADEA9 !important;
    color: #4f800b !important;
}

.btn_download{
    width: 100%;
    border-radius: 5px;
}

.btn_downloadAll:hover, .btn_download:hover{
    background-color: #90bd7d !important;
    color: white !important;
}

.div_preview{
    background-color: #d5ebb7;
    margin: 1%;
    padding: 1% 1% 0.5% 1%;
    border-radius: 5px;
    text-align: center;
    height: fit-content;
    word-wrap: break-word;
}

.img_preview{
    width: 100px;
    height: auto;
}

.p_name_img_preview{
    text-align: center;
    color: #4f800b;
    margin: 2% 0% 0% 0% !important;
    max-width: 100px;
}