/* color: 74AC24 (light green)
color: 496D17 (dark green)
CCCCCC (grey)
0190E0 (light blue) 
EAF7D8 (background color)*/

/*Se usa !important para que pise el estilo de bootstrap*/

body{
    margin: 0px;
}

button{
    border-radius: 5px !important;/*si no le pongo !important nolo toma por boostrap*/
    border:none;
}

.hiddenData {
    display: none;
}

/*Botón guardar de color verde*/
    .btn_save_green{
        background-color: #74AC24 !important;
        border: none !important;
    }
    .btn_save_green:hover{
        background-color: #5b881d !important;
    }


