.section_cont_projects_removed{
    padding:  0% 40px;
}
.p_title_projects_removed{
    color: white;
    background-color: #b93030;
    text-align: center;
    padding: 1%;
    border-radius: 5px;
}
.header_table_projects_removed{
    background-color: #f3b1b1;
}