.listEmprendedores{
    margin: 10px 60px 0px 60px;
    background-color: #74AC24;
    border-radius: 5px;
}
.title_list{
    text-align: center;
    color: white;
    height: 28px;
}
.div_cont_table_emprendedores{
    margin-left: 60px;
    margin-right: 60px;
}
.header-list-projects-manager, .footer-list-emprendedores{
    background-color: #EAF7D8;
}
.manager-table{
    color: #496D17;
}