.listEmprendedores, .div_cont_table_emprendedores, .listUsuarios, .contenedor_tabla_usuarios{
    width: 94%;
    margin: auto;
}
.listEmprendedores, .listUsuarios{
    background-color: #74AC24;
    border-radius: 5px;
    padding: 0.5%;
    margin-bottom: 1%;
}
.title_list{
    text-align: center;
    color: white;
    font-size: 22px;
    margin-bottom: 0%;
}

.header-list-projects-manager, .footer-list-emprendedores, .header-list-users-manager, .footer-list-usuarios{
    background-color: #EAF7D8;
}
.manager-table{
    color: #496D17;
    text-align: center;
}