.div_cont_dropdown_section_removed_and_table_project{
    display: flex;
}

.div_cont_table_projects{
    width: 100%;
    margin-left: 40px;
    margin-top: 1%;
}

.header-list-projects, .footer-list-projects{
    background-color: #EAF7D8;
}

.cointaint-list{
    margin-left: 40px;
    margin-right: 40px;
}

/*SECCIÓN DE FILTROS*/
.filter-projects{
    padding: 1% 0;
}

.filter-projects>select{
    margin: 2px;
}

.filter-projects > fieldset {
    width: 20%;
    margin: 0 auto 1% auto;
    padding: 0.5%;
    border: 2px #198754 solid;
    border-radius: 5px;
}

.filter-projects legend {
    font-size: 1.1rem;
    font-weight: 600;
}

.filter-projects fieldset label {
    margin: 0;
}

.filter-projects > fieldset > div {
    display: flex;
    justify-content: space-between;
}

.verMas, .btn_borrar{
    color:#FFFFFF;
    border-radius: 5px;
}

.verMas{
    margin-right: 10%;
}


.pagination{
    justify-content: center;
}

