.navbar{
    padding-top: 0% !important;
}
.click{
    background-color: #496D17;
}

.container-fluid{
    background-color: #74AC24;
    width:100%;
    height:100px;
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 4fr;
}
.navbar-nav{
    width: 90%;
}
.nav-item{
    width: 20%;
}
.nav-link{
    color: white !important;
    font-weight: bold;
    height: 100px;
    text-align: center;
    padding-top: 20% !important;
}
.nav-item:hover, .closeSession:hover{
    background-color: #5b881d;
}
.nav_img{
    width: 70%;
    height:auto;
}

.icono-notificacion {
    margin: 0 5% 0 0;
    cursor: pointer;
}

.notificaciones-container {
    position: absolute;
    top: 4rem;
    right: 9.3rem;
    z-index: 5;
    height: fit-content;
    border: solid 1px #496D17;
    border-radius: 5px;
    background-color: #74AC24;
    color: #FFFFFF;
    width: 20%;
}

.notificaciones-container.hidden {
    display: none;
}

.notificaciones {
    padding: 0 1.5%;
    height: 60vh;
    overflow-y: scroll;
}

.notificaciones > article {
    margin: 2% 0 0 0;
    border-bottom: #FFFFFF solid 1px;
}

.notificaciones > article.notReaded {
    background-color: #496D17;
}

.notificaciones > article > p:last-child {
    padding: 3% 0 0 0;
    font-size: 0.9rem;
    color: #FFFFFF;
    opacity: 0.9;
}

.notificaciones > article span {
    font-weight: 700;
}

/* .notificaciones article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1%;
    border-bottom: solid 1px #FFFFFF;
} */

.notificaciones-top, .notificaciones-bottom {
    padding: 1%;
    background-color: #496D17;
}

.notificaciones-top {
    font-weight: bold;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.notificaciones-bottom {
    padding: 3.5%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.closeSession{
    background-color: transparent;
    color:#FFFFFF;
    height: 100px;
    width: 100px;
}

.closeSession>svg{
    height: 25%;
    width: auto;
}

@media only screen and (min-width: 1260px) {
    .notificaciones-container {
        right: 10rem;
    }
}
@media screen and (min-width: 1366px){
    .nav-item{
        width: 15%;
    }
}
@media only screen and (min-width: 1800px) {
    .notificaciones-container {
        right: 12rem;
    }
}