.div_cont_dropdown_section_removed_and_table_project{
    display: flex;
}

.div_cont_table_projects{
    width: 100%;
    margin-left: 40px;
    margin-top: 1%;
}

.header-list-projects, .footer-list-projects{
    background-color: #EAF7D8;
}

.cointaint-list{
    margin-left: 40px;
    margin-right: 40px;
}

/*SECCIÓN DE FILTROS*/
/* .filter-projects{
    display: flex;
} */

.filter-projects>select{
    margin: 2px;
}

.verMas, .btn_borrar, .btn_is_active{
    color:#FFFFFF;
    border-radius: 5px;
    margin: 0 3%;
}

.pagination{
    justify-content: center;
}

