/*Se usa !important para que pise el estilo de bootstrap*/

/*Div que contiene Botones de formulario de secciones datos, Diagnóstico y Registro de Encuentros*/
    .mainBtns{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0px 60px 0px 60px;
        justify-content: space-around;
    }
    .mainBtns>button{
        border-radius: 0px !important;
    }



/*FORMULARIO*/
    /*labels generales, todos*/
    label{
        color: #74AC24;
        margin-top:10px;
    }
    /*Borde de inputs*/
    input, textarea, .input-group-text{
        border: 1px solid #74AC24 !important;
    }
    /*Div que contiene todo el formulario de cargar proyecto*/
    .projectLoading{
        display: flex;
        flex-direction: column;
        background-color: #EAF7D8;
        margin: 0px 60px 60px 60px;
        padding: 30px;
        border-radius: 5px;
    }

    /*Div que contiene inputs de crear necesidades o asistencias*/
        .div_input_other{
            display: flex;
            margin: 2% auto;
            /*align-items: flex-end;*/
        }

        .div_input_other>.div_cont_selects{
            margin: 0% 2% 0% 0%;
        }
    /*clase propia del label del estadio*/ 
        .label_estadios{
            margin-left: 5px;
            margin-right: 20px;
        }
    
/*mensajes error de feedback*/
.error{
    font-size: small;
    color: red;
}

/*icono tilde de guardado y de falla de guardado*/
    .success-icon, .failure-icon {
        position: absolute;
        margin: auto auto 1px auto;
        right: 105px;
        opacity: 0;
    }

    .failure-icon {
        color: red;
    }

    .success-icon {
        color: green;
    }
/*INPUT FILE*/
    /*div que contiene input file*/
    .adjuntos{
        display: flex;
        flex-direction: column;
    }

    /*Oculta select del archivo que viene por defecto*/
    /*Para poder aplicar estilo en otro que apunta a este*/
    .inputfile {
        display: none;
        width: 0px;
        height: 0px;
    }

    /*lavel que contiene spam que muestra texto de que archivos se adjuntaron y strong que se usa como botón de adjuntar*/
    .iborrainputfile {
        font-weight:bold;
        border-radius: 5px;
        background-color: #fff;
        padding: 5px 0px;
        margin-bottom: 1%;
        width: 40%;
        border: 1px solid #74AC24 !important;
    }
    /*Texto donde se muestra archivos que se adjuntaron*/
    .iborrainputfile span{
        margin: auto auto auto 2%;
    }

    /*Botón de selecion de archivos "Selecionar archivo/s"*/
    .iborrainputfile strong {
        color: #fff;
        background-color: #74AC24;
        padding: 6px;
    }
    /*Botón de selecion de archivos "Selecionar archivo/s"*/
    .iborrainputfile strong:hover {
        background-color: #496D17;
    }

    .generalSave{
        margin: 0px 0px 0px 60px;
        justify-content: space-around;
    }


    .generalSave p{
        color: #496D17;
        font-weight: bold;
        margin-top: 5px;
    }

    .saveContainer{
        display: flex;
    }

    .input-group-text{
        background-color: #fff !important;
        color: #74AC24 !important;
    }

    .input-group>button{
        border-radius: 0 5px 5px 0 !important;
    }

    .div_cont_input_other{
        margin-top: 2.2%;
        width: 65%;
    }
    .div_p_paintBadFileAlert{
        border-radius: 5px;
        background-color: rgb(248, 224, 224);
        width: 50%;
        padding: 1%;
        margin-bottom: 1%;
        color: rgb(255, 0, 0) !important;
    }
    .p_paintBadFileAlert{
        margin: 0 !important;
    }



